<div class="container-fluid">
  <div class="row" style="padding: 20px;">
    <div class="col-lg-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-credo-tab" data-toggle="pill" href="#v-pills-credo" role="tab" aria-controls="v-pills-credo" aria-selected="true">Em que Cremos</a>
        <a class="nav-link" id="v-pills-historia-tab" data-toggle="pill" href="#v-pills-historia" role="tab" aria-controls="v-pills-profile" aria-selected="false">História</a>
        <a class="nav-link" id="v-pills-lideranca-tab" data-toggle="pill" href="#v-pills-lideranca" role="tab" aria-controls="v-pills-lideranca" aria-selected="false">Liderança</a>
        <a class="nav-link" id="v-pills-lideranca-tab" data-toggle="pill" href="#v-pills-congrega" role="tab" aria-controls="v-pills-congrega" aria-selected="false">Congregações</a>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-credo" role="tabpanel" aria-labelledby="v-pills-credo-tab">
          <h2><b>Em que Cremos</b></h2>
          <p>Olá amigos e irmãos da Igreja Presbiteriana da Capela.</p>
          <p>É com imensa alegria que os recebemos em nosso site, queremos em nome do conselho e de toda a igreja dar-lhes boas-vindas. Louvamos ao Senhor por tê-los trazido até aqui, acreditamos que a graça maravilhosa de Jesus age por meios misteriosos, inclusive pela internet, e por isso, compete a nós, compartilhar algumas informações a nosso respeito.</p>
          <p>Somos uma igreja reformada, comprometida com o evangelho da graça para a glória de Deus e a alegria dos homens.</p>
          <p>Quanto ao termo “igreja reformada” estamos nos referindo a fé cristã ortodoxa, crida em todo o tempo e reavivada pelos reformadores no período conhecido como reforma protestante (sec. XVI e XVII). Somos uma igreja de orientação presbiteriana e calvinista, por presbiteriana entendemos que o governo se dá por meio dos oficiais, chamados de “presbíteros, que por sua vez são homens escolhidos pela comunidade dos membros. Por calvinistas adotamos o conjunto doutrinário que ficou conhecido historicamente como calvinismo, mas que antecede e muito a figura do Reformador João Calvino podendo ser facilmente  encontrado por toda a história da igreja, como expressão fiel da doutrina dos apóstolos e do próprio Senhor Jesus Cristo.</p>
          <p>Quanto a expressão “comprometida com o evangelho da graça” entendemos que a Biblia é a única, inerrante, infalível e autoritativa Palavra de Deus, (Mt 4.4; 2 Tm 3. 16);  que todos os homens pecaram e carecem de salvação (Rm 3.23), que a salvação vêm somente pela fé em Cristo Jesus, (Rm 1. 16 e 17), que a fé é dom de Deus atribuída aos homens de forma graciosa e imerecida (Ef 2.8). Cremos que o ato de convencimento do homem do seu estado caído e de pecaminosidade advém do próprio Deus por meio do seu Santo Espírito (João 16:7-11), e que nascidos de novo podemos então viver em relacionamento real e verdadeiro com Deus por meio de Jesus Cristo nosso Senhor e Salvador.</p>
          <p>Quanto a expressão “para a glória de Deus”, cremos que todos os nossos atos, sejam no culto comunitário ou nas demais áreas da vida, devem render honras, glórias e louvores ao Senhor Nosso Deus, (1 Co 10. 31).</p>
          <p>E por fim, quando afirmamos “para a alegria dos homens” compreendemos que a verdadeira alegria só pode ser encontrada numa vida restaurada por Jesus, redirecionada pelo evangelho de graça, e que como sacrifico vivo, glorifica a Deus em todo o tempo.</p>

          <p><b>Rev. Daniel Basso.</b> </p>
          <hr/>
          <p>Sendo uma Igreja presbiteriana subscrevemos os seguintes documentos:</p>
          <h3>Simbolos de Fé da IPB</h3>
          <small class="text-muted">Clique para download</small>
          <p><a href="../../assets/pdf/confissao_de_westminster.pdf" target="_blank">Confissão de fé de Westminster</a></p>
          <p> <a href="../../assets/pdf/breve-catecismo.pdf" target="_blank">Breve Catecismo de Westminster</a></p>
          <p> <a href="../../assets/pdf/catecismo-maior.pdf" target="_blank">Catecismo Maior de Westminster</a></p>
          <hr/>
          <h3>Documentos da IPB</h3>
          <small class="text-muted">Clique para download</small>
          <p> <a href="./../assets/pdf/constituicao.pdf" target="_blank">Constituição da IPB (CI-IPB)</a></p>
          <p>
            <a href="./../assets/pdf/codigo_de_disciplina.pdf" target="_blank"> Código de Disciplina</a>
          </p>
          <hr/>
          <h3>Três Formas de Unidade</h3>
          <small class="text-muted">Clique para download</small>
          <p>Enquanto Igreja Reformada, além dos simbolos de fé da IPB. Apreciamos também as três formas de unidade das Igrejas Reformadas</p>
          <p> <a href="../../assets/pdf/dort.pdf" target="_blank">Os Cânones de Dort</a></p>
          <p> <a href="../../assets/pdf/confbelga.pdf" target="_blank">Confissão Belga</a></p>
          <p> <a href="../../assets/pdf/heidelberg.pdf" target="_blank">Catecismo de Heidelberg</a></p>
        </div>
        <div class="tab-pane fade" id="v-pills-historia" role="tabpanel" aria-labelledby="v-pills-historia-tab">
          <h2 id="credo"><b>Nossa História</b></h2>
          <p>O projeto da contação da história da Igreja Presbiteriana da Capela começa no final da década de 70 quando os primeiros esforços para o plantio de uma igreja presbiteriana se deram na cidade de Vinhedo.
          <p>A fim de não sermos omissos quanto os valorosos esforços de homens e mulheres nesta saga, preferimos dedicar mais tempo em reproduzir toda a nossa rica história. O levantamento documental tanto para arquivo, acervo e produção historiográfica, envolve tempo e dedicação.</p>
          <p>A história da Igreja Presbiteriana da Capela se mistura a história de inúmeras famílias, de pastores e presbíteros, e de outras tantas igrejas que fizeram parte desta obra gloriosa.</p>
          <p>Cremos que em breve teremos toda a nossa história contada em detalhes, com vistas unicamente ao engrandecimento da obra do Senhor Jesus, na idade de Vinhedo e mais especificamente, no bairro da Capela.</p>
        </div>
        <div class="tab-pane fade" id="v-pills-lideranca" role="tabpanel" aria-labelledby="v-pills-lideranca-tab">
          <h2><b>Liderança</b></h2><br>
          <h3>Conselho da Igreja</h3>
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../assets/images/lideranca/revdaniel.jpg" class="card-img" alt="...">
              </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Rev. Daniel Alessandro A. Basso</h5>
                <p class="card-text">
                  Casado com Luana, Pai de Taynara e de Vitor. A frente da igreja Presbiteriana da Capela desde Outubro de 2014. Formado em Teologia pelo seminário Presbiteriano do Sul, graduando em História Pela Universidade Federal do Rio de Janeiro, em Filosofia pela Faculdade São Bento de São Paulo e em Educação Cristã Clássica pelo Whitefield College na Florida. Mestrando pela Faculdade Internacional de Teologia Reformado e pelo Centro de Pós Graduação Andrew Jumper.
                </p>
                <p class="card-text"><small class="text-muted">Pastor Titular da IPBC</small></p>
              </div>
            </div>
            </div>
          </div> <!--  Rev. -->

         <div class="card mb-3">
           <div class="row no-gutters">

             <div class="col-md-8">
               <div class="card-body">
                 <h5 class="card-title">Presb. Jesse Fialho Durães</h5>
                 <p class="card-text">Casado com Rosângela Durães a vinte e dois anos e pai do Jessé Junior e Lucas Durães, é natural de Salinas/MG e presbiteriano de berço</p>
                 <p class="card-text"><small class="text-muted">Secretário do Conselho da IPBC</small></p>
               </div>
             </div>
             <div class="col-md-4">
               <img src="../../assets/images/lideranca/presbjesse.jpeg" class="card-img" alt="...">
             </div>
           </div>
         </div> <!--  Presb. -->

          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../assets/images/lideranca/presbwashington.jpg" class="card-img" alt="...">
              </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Presb. Washington Nascimento</h5>
                <p class="card-text">Nasceu em Bacabal-MA, no dia 02/10/1964. Casado desde 1993, Maria Auxiliadora da Rocha Nascimento e pai de dois filhos: Saulo e Daniel. Conheceu o evangelho em janeiro de 1995, na Igreja Presbiteriana Cidade Nova, em Manaus,  onde serviu ao Senhor por 19 anos. Em dezembro de 2013, chegou com sua família em Vinhedo. Atualmente tem a alegria de servir ao Senhor na IP da Capela, onde é presbítero há 01 ano.</p>
                <p class="card-text"><small class="text-muted">Tesoureiro do Conselho da IPBC</small></p>
              </div>
            </div>
            </div>
          </div> <!--  Presb. -->
          <hr>

          <!-- <div class="card mb-3">
            <div class="row no-gutters">

              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Presb. Em. Maurício de Castro e Souza</h5>
                  <p class="card-text">Casado com Rosângela Durães. Pai do Jessé Junior e Lucas Durães</p>
                  <p class="card-text"><small class="text-muted">Secretário do Conselho da IPBC</small></p>
                </div>
              </div>
              <div class="col-md-4">
                <img src="../../assets/images/lideranca/presbjesse.jpeg" class="card-img" alt="...">
              </div>
            </div>
          </div> Presb. -->

          <hr>
          <h3>Junta Diaconal</h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Diac. Alessandro Capelatto - <small class="text-muted">Presidente da Junta Diaconal</small></li>
            <li class="list-group-item">Diac. Lucas B. Cruz - <small class="text-muted">Vice-Presidente da Junta Diaconal</small></li>
            <li class="list-group-item">Gustavo Escudero da Silva - <small class="text-muted">Secretário da Junta Diaconal</small></li>
            <li class="list-group-item">Valdivio dos Santos Durães - <small class="text-muted">Tesoureiro da Junta Diaconal</small></li>
            <li class="list-group-item">Daniel da Rocha Nascimento</li>
            <li class="list-group-item">Rafael Massoni</li>
            <li class="list-group-item">Lucas Ortolani de Freitas</li>
          </ul>
        </div> <!-- Pane lideranca -->

        <div class="tab-pane fade" id="v-pills-congrega" role="tabpanel" aria-labelledby="v-pills-congrega-tab">
          <h2 id="credo"><b>Nossas Congregações</b></h2>
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../assets/images/congrega/morungaba.png" class="card-img" alt="...">
              </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Congregação Presbiteriana de Morungaba</h5>
                <p class="card-text">
                <div class="row">
                  <p>
                    <b>Responsável: </b>Sem. Paulo Falkaniere <br>
                  </p>
                </div>
                <div class="row">
                  <p>
                  <b>Endereço:</b> R. Virgilia Alves de Carvalho Pinto, Morungaba - SP
                    <a href="https://bit.ly/2S0TMln" target="_blank"><i class="fas fa-map-marked-alt"></i></a>
                  </p>
                </div>
                <div class="row">
                  <p>
                    Conecte-se:
                  </p>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <a href="https://www.facebook.com/ipbmorungaba/" target="_blank
                    ">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a href="https://wa.me/5511943387405" target="_blank">
                      <i class="fab fa-whatsapp"></i>
                    </a>
                  </div>
                  <div class="col-md-5">
                    <a href="tel:5511943387405">
                      <i class="fas fa-phone"></i>
                      +55 (11) 994338-7405
                    </a>
                  </div>
                </div>
                <br><br><br>
                <p class="card-text"><small class="text-muted">Trabalho iniciado em 2019</small></p>
              </div>
            </div>
            </div>
          </div> <!--  Morungaba -->

          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Congregação Presbiteriana Jd. Esplanada</h5>
                  <p class="card-text">
                  <div class="row">
                    <p>
                      <b>Responsável: </b>Diac. Sem. Lucas Cruz <br>
                    </p>
                  </div>
                  <div class="row">
                    <p>
                      <b>Endereço:</b>R. Florianópolis, 696 - Jardim Esplanada, Jundiai - SP        <a href="https://bit.ly/2VUgdto" target="_blank"><i class="fas fa-map-marked-alt"></i></a>
                    </p>
                  </div>
                  <div class="row">
                    Conecte-se:
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <a href="https://wa.me/5511974747489" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                      </a>
                    </div>

                      <div class="col-md-5">
                        <a href="tel:5511974747489">
                          <i class="fas fa-phone"></i>
                          +55 (11) 97474-74894
                        </a>
                      </div>
                    </div>
                    <br><br><br>
                  <p class="card-text"><small class="text-muted">Trabalho iniciado em 2019</small></p>
                </div>
              </div>
              <div class="col-md-4">
                <img src="../../assets/images/congrega/jundiai.jpeg" class="card-img" alt="...">
              </div>
            </div>
          </div> <!--  Jundiai. -->

        </div>

      </div>
    </div>
  </div>
</div>
