  <!--  -->
  <nav class="site-header sticky-top py-1 justify-content-md-center" style="background-color: #072203;">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="home" aria-label="Product">
        <img src="assets/images/oie.png" width="50" height="50" fill="none" class="d-block mx-auto"  alt="">
      </a>
      <a class="py-3 d-none d-md-inline-block nav-aa" href="home#acontece">Agenda</a>
      <a class="py-3 d-none d-md-inline-block nav-aa" routerLink="/sobre" >Quem Somos</a>
      <a class="py-3 d-none d-md-inline-block nav-aa"  href="https://www.youtube.com/channel/UCSPI4eAi2Yf3Bb7IWCbfXXQ/playlists" target="_blank" >Sermões</a>
      <a class="py-3 d-none d-md-inline-block nav-aa" href="home#onde">Onde estamos?</a>
      <a class="py-3 d-none d-md-inline-block nav-aa" href="home#contact">Fale Conosco</a>
      <a class="py-3 d-none d-md-inline-block nav-aa" href="/home">Sociedades Internas</a>
    </div>
  </nav>



<router-outlet></router-outlet>
<!-- <div class="container">
  <div class="row">
  </div>
</div> -->

<footer id="contact">

</footer>
