.nav-aa{
  padding-right: 2.5rem !important;
  color: white !important;
}

.nav-aa a{
  color: white !important;
}

.nav-aa a:hover{
  color: gray !important;
  }

.carousel-image{
  width: 900px;
  height: 640px;
}
.service{
  padding: 5%;
  background-image: url("../assets/images/bg/dark-wood.jpg");
  color: white;
}
.service .chapel-title{
font-family: 'Cinzel', serif;
}
.service p{
  font-family: 'Ubuntu', sans-serif;
}

.mission{
  padding: 10%;
  background-image: url("../assets/images/bg/city.jpeg");
  font-family: 'Just Another Hand', cursive;
  font-size: 40pt;
}

.footer_m{
  width: 100%;
/* padding: 10% */
}
.footer{
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: url('../assets/images/bg/church.jpg');
  color: white;
}

.footer_border{
  border-right: 1px solid white;
  font-family: 'Great Vibes', cursive;
  font-size: 40pt;
}

.list-group-item{
  background-color: transparent !important;
  border: 1px solid white;
  border-left: 0px;
  border-right: 0px;
}


.social a{
  color: white !important;
}

.social a:hover{
  color: #072203 !important;
}
