
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top py-1 justify-content-md-center" style="background-color: #072203;">
  <div class="container">
    <img src="assets/images/oie.png" width="70" height="70" fill="none" class="d-block mx-auto" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-aa">
          <a class="nav-link" href="home#initial" style="padding-left: 2.5rem">Início <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item nav-aa">
          <a class="nav-link" href="sobre#credo" >Quem Somos</a>
        </li>
        <li class="nav-item nav-aa">
          <a class="nav-link" href="home#acontece">Agenda</a>
        </li>
        <li class="nav-item nav-aa">
          <a class="nav-link" href="https://www.youtube.com/channel/UCSPI4eAi2Yf3Bb7IWCbfXXQ/playlists" target="_blank" >Sermões</a>
        </li>
        <li class="nav-item nav-aa">
          <a class="nav-link"href="home#onde">Onde estamos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled"  style="padding-right: 2.5rem" href="#" tabindex="-1" aria-disabled="true">Sociedades Internas</a>
        </li>
        <li class="nav-item nav-aa">
          <a class="nav-link"href="home#contact">Fale Conosco </a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="container-fluid footer" style="text-align: center;">
  <div id="contact" class="row footer_m">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="border-bottom: 1px solid  white"><h3>Conecte-se Conosco</h3></li>
          </ul>
        </div>
      </div>
      <div class="row social" style="padding-top: 4%;">
        <div class="col-md-3">
          <a href="https://www.facebook.com/ipbvinhedo" target="_blank
          ">
            <i class="fab fa-facebook-f fa-3x"></i>
          </a>
        </div>
        <div class="col-md-3">
          <a href="https://www.youtube.com/channel/UCSPI4eAi2Yf3Bb7IWCbfXXQ" target="_blank">
            <i class="fab fa-youtube fa-3x"></i>
          </a>
        </div>
        <div class="col-md-3">
          <a href="https://wa.me/5511972119531" target="_blank">
            <i class="fab fa-whatsapp fa-3x"></i>
          </a>
        </div>
        <div class="col-md-3">
          <a href="tel:5511972119531">
            <i class="fas fa-phone fa-3x"></i><br><br>
            +55 (11) 9 7211-9531
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
