.carousel-image{
  height: 640px !important;
}
.service{
  padding: 5%;
  background-image: url("../../assets/images/bg/dark-wood.jpg");
  color: white;
}
.service .chapel-title{
font-family: 'Cinzel', serif;
}
.service p{
  font-family: 'Ubuntu', sans-serif;
}

.mission{
  padding: 10%;
  background-image: url("../../assets/images/bg/city.jpeg");
  background-position: center;
  color: black;
  font-family: 'Great Vibes', cursive;
  font-size: 60pt;
}

#onde{
  background-color: black;
}
