<div class="container-fluid" style="padding: 0px">
  <div class="row-fluid">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 carousel-image" src="../assets/images/cruz.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 carousel-image" src="../assets/images/igreja_cruz.jpg" alt="Second slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div id="acontece" class="row-fluid">
    <div class="service">
      <h1 class="display-4 chapel-title" style="text-align:center">Horário de Cultos</h1><br>
      <div class="container">
        <div class="row">
          <div class="col-sm">
              <p class="lead chapel-title">Domingo</p>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <p class="font-weight-bolder">09:00 - Culto Matutino</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm">
                    <p class="font-weight-bolder">10:00 - EBD</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm">
                    <p class="font-weight-bolder">19:00 - Culto Vespertino</p>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-sm">
              <p class="lead chapel-title">Quarta-Feira</p>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <p class="font-weight-bolder">19:00 - Culto de Oração</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm">
                    <p class="font-weight-bolder">20:00 - Sã Doutrina</p>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-sm">
              <p class="lead chapel-title">Quinta-Feira</p>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <p class="font-weight-bolder">20:00 - Culto (Cong. Jardim Esplanada)</p>
                  </div>
                </div>
                <div class="row">
                <div class="col-sm">
                  <p>Endereço: R Florianópolis, 696, Jardim Esplanada - Jundiaí</p>
                </div>
              </div>
              </div>
          </div>
          <div class="col-sm">
              <p class="lead chapel-title">2ª Sexta-Feira do Mês
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <p class="font-weight-bolder">20:00 - UPH e SAF</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm">
                  <p>O endereço é divulgado em nossas mídias sociais! Fique Ligado!</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div id="mission" class="mission">
      <p class="text-center">
        Uma igreja reformada, comprometida com o evangelho da graça, para glória de Deus e para a alegria dos homens.<br>
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div id="onde">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d229.46482463595754!2d-47.011415!3d-23.044428!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x48a442d924e3204!2sIgreja%20Presiteriana%20da%20Capela!5e0!3m2!1spt-BR!2sbr!4v1587497684685!5m2!1spt-BR!2sbr" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
